{% extends "frontend/index.html" %}

{% load static i18n tags %}

{% block subtitle %}
    {{ category|trans:"name" }}
{% endblock subtitle %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static "css/market.css" %}" />
{% endblock extra_css %}

{% block slider %}
{% endblock slider %}

{% block content %}
    <section class="furniture_section long_section category_section mt-5"
             id='furniture'>
        {% if category %}
            <div class="d-flex flex-column my-2">
                <div class="heading_container">
                    <div class="d-flex justify-content-between align-items-center w-100">
                        <div class="d-flex-flex-column">
                            <h2>
                                {{ category|trans:"name" }}
                            </h2>
                            <p class='m-0'>
                                {{ category|trans:"description" }}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {% if category.products.all %}
                        {% for product in category.products.all %}
                            <div class="col-md-6 col-lg-4">
                                <div class="box">
                                    <div class="img-box p-0">
                                        <img src="{{ product.image.url }}"
                                             alt=" {{ product|trans:'name' }} "
                                             class='rounded'
                                             style="mix-blend-mode:multiply"
                                             
                                             />
                                    </div>
                                    <div class="detail-box">
                                        <a class='text-dark fw-bold text-uppercase d-block'
                                           href="{% url 'frontend:product-details' product.pk %}"
                                           style="white-space:nowrap; overflow: hidden; text-overflow: ellipsis;"

                                           >
                                            {{ product|trans:'name' }}
                                        </a>
                                        <div class="price_box d-flex align-items-end">
                                            <h6 class="price_heading">
                                                <span>{% trans "DZD" %}</span> {{ product.price }}
                                            </h6>
                                            <button class="btn btn-sm btn-teal add-to-cart" data-product-id="{{ product.pk }}">
                                                {% trans "Add to cart" %}
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <span class='text-center m-2 rounded bg-light fs-5'>
                            {% trans "No products at the moment" %}
                        </span>
                    {% endif %}
                </div>
            </div>
        {% else %}
            <div class="my-2 bg-light text-center">
                {% trans "No categories at the moment" %}
            </div>
        {% endif %}
    </section>

{% endblock content %}


{% block footer %}
{% endblock footer %}

{% block extra_js %}
    <script src="{% static "js/market.js" %}"></script>
{% endblock extra_js %}

{% block js %}
{% endblock js %}
