{% extends "dashboard/index.html" %}

{% load static %}

{% block extra_css %}
{% endblock extra_css %}

{% block dashtitle %}
    Add new social account
{% endblock dashtitle %}

{% block dash %}
    <form method="POST"
          enctype="multipart/form-data"
          action="{% url 'dash:create-social-media' %}"
          class='d-flex flex-column'>
        {% csrf_token %}

        <div class="d-flex align-items-center mb-3">
            <div class='flex-grow-1'>
                <label for="name">
                    Platform Name
                </label>
                <input type="text" id="name" name="name" class='form-control' required />
            </div>
            <div class='flex-grow-1 ms-2'>
                <label for="icon">
                    Platform unicons Icon
                </label>
                <input type="text" id="icons" name="icon" class='form-control' required />
            </div>
        </div>
            <label for="url">
                Account URL
            </label>
            <input type="text" id="url" name="url" class='form-control' required />

        <button type="submit" class='btn btn-sm btn-warning my-3 ms-auto '>
            Submit
        </button>

    </form>

{% endblock dash %}

{% block extra_js %}
{% endblock extra_js %}
