{% extends "dashboard/index.html" %}

{% load static i18n tags %}

{% block dashtitle %}
    {% trans "Create a category" %}
{% endblock dashtitle %}

{% block dash %}
    <div class="d-flex flex-column">
        <div class="errorList">
        </div>
        <form action="{% url 'dash:category-create' %}"
              class="d-flex flex-column form"
              method="post">
            {% csrf_token %}
            <div class="d-flex align-items-start">
                {% comment %} Image upload {% endcomment %}
                <div class='m-2'>
                    <label for="id_thumbnail" class='mb-2'>
                        {% trans "Image" %}
                    </label>
                    <div id="thumbnail_container"
                         onclick="document.getElementById('id_thumbnail').click()">
                        <i class="uil uil-upload-alt"></i>
                        <i class="fa fa-upload" aria-hidden="true"></i>
                        <img id="thumbnail_preview"
                             src="https://placehold.co/600x400?text=1:1"
                             alt="Image Preview" />
                    </div>
                    <input type="file"
                           id="id_thumbnail"
                           name="thumbnail"
                           accept="image/*"
                           onchange="previewImage(event)" />
                </div>
                <div class="d-flex flex-column flex-grow-1">
                    <input type="text"
                           name="name_ar"
                           id="name_ar"
                           class="form-control mb-3"
                           placeholder="{% trans "Category Name (Arabic)" %}" />
                    <input type="text"
                           name="name_fr"
                           id="name_fr"
                           class="form-control mb-3"
                           placeholder="{% trans "Category Name (French)" %}" />
                    <textarea name="description_ar"
                              id="description_ar"
                              class="form-control mb-3"
                              placeholder="{% trans "Category Description (Arabic)" %}"
                              rows="3"></textarea>
                    <textarea name="description_fr"
                              id="description_fr"
                              class="form-control mb-3"
                              placeholder="{% trans "Category Description (French)" %}"
                              rows="3"></textarea>
                </div>
            </div>
            <button type="submit" class="d-block  ms-auto  btn btn-teal">
                {% trans "Create" %}
            </button>
        </form>
        <div class="d-flex flex-column bg-white p-2 mt-3 rounded">
            <h3 class="text-teal fw-bold">
                {% trans "Categories List" %}
            </h3>
            {% if categories %}
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">
                                    {% trans "Image" %}
                                </th>
                                <th scope="col">
                                    {% trans "Name" %}
                                </th>
                                <th scope="col">
                                    {% trans "Description" %}
                                </th>
                                <th scope="col">
                                    {% trans "Creation Date" %}
                                </th>
                                <th scope="col">
                                    {% trans "Actions" %}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for category in categories %}
                                <tr>
                                    <td>
                                        <img src={{ category.image.url }} width='48' height='48' class='rounded' />
                                    </td>
                                    <td>
                                        {{ category|trans:'name' }}
                                    </td>
                                    <td>
                                        {{ category|trans:'description' }}
                                    </td>
                                    <td>
                                        {{ category.created_at }}
                                    </td>
                                    <td>
                                        <button class="delete-button btn btn-danger"
                                                data-delete-url="{% url 'dash:category-delete' category.pk %}"
                                                data-csrf-token="{{ csrf_token }}">
                                            <i class="fa fa-trash" aria-hidden="true"></i>

                                        </button>
                                        <a href="{% url "dash:category-edit" category.pk %}" class='btn btn-success'>
                                            <i class="fa fa-pencil" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <h5 class="text-center">
                    {% trans "No Categories at the moment" %}
                </h5>
            {% endif %}

        </div>
    </div>

{% endblock dash %}
