{% extends "frontend/index.html" %}

{% load static i18n tags %}

{% block subtitle %}
    {% trans "Shopping Cart" %}
{% endblock subtitle %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static "css/market.css" %}" />
{% endblock extra_css %}

{% block slider %}
{% endblock slider %}

{% block content %}
    <div class="long_section my-2">
        <div class="container-fluid">
            <div class="row g-3">
                <div class="col-lg-6 col-md-12">
                    <!-- Cart Items Section -->
                    <div class="card mb-4 bg-light rounded">
                        <div class="card-body">
                            <h2 class="card-title text-teal">
                                {% trans "Cart Summary" %}
                            </h2>
                            {% if cart_items %}
                                {% for item in cart_items %}
                                    <div class="container-fluid">
                                        <div class="row g-2 align-items-center">
                                            <!-- Product Name -->
                                            <span class="col-lg-3 col-md-12 fs-5"
                                                  style="white-space:nowrap;
                                                         overflow: hidden;
                                                         text-overflow: ellipsis">
                                                {{ item.product|trans:"name" }}
                                            </span>

                                            <!-- Product Price -->
                                            <span class="col-lg-3 col-md-12 item_price fw-bold" data-price="{{ item.product.price }}">
                                                {{ item.product.price }} {% trans "DZD" %}
                                            </span>

                                            <!-- Quantity and Remove Button -->
                                            <div class="col-lg-6">
                                                <div class="row">
                                                    <!-- Quantity Input -->
                                                    <div class="col-lg-6">
                                                        <input type="number"
                                                               name="quantity"
                                                               id="quantity"
                                                               value="{{ item.quantity }}"
                                                               class="form-control mb-2" />
                                                    </div>

                                                    <!-- Remove Button -->
                                                    <div class="col-lg-6">
                                                        <button type="button"
                                                                class="btn btn-danger ms-2 delete-button"
                                                                data-delete-url="{% url 'frontend:remove_from_cart' item.pk %}"
                                                                data-csrf-token="{{ csrf_token }}"
                                                                aria-label="Remove Item">
                                                            {% trans "Remove" %}
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <p class="text-muted">
                                    {% trans "Your cart is empty." %}
                                </p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="d-flex flex-column">
                        <!-- Order Summary Section -->
                        <div class="card mb-4 bg-light rounded">
                            <div class="card-body">
                                <h2 class="card-title text-teal">
                                    {% trans "Order Summary" %}
                                </h2>
                                <div class="summary-details">
                                    <!-- Total Number of Products -->
                                    <div class="d-flex justify-content-between mb-2">
                                        <span class="text-muted">{% trans "Total Products:" %}</span>
                                        <span id='products_count'>{{ cart_items|length }}</span>
                                    </div>
                                    <!-- Subtotal -->
                                    <div class="d-flex justify-content-between mb-2">
                                        <span class="text-muted">{% trans "Subtotal:" %}</span>
                                        <span id='subtotal_count'>0 {% trans "DZD" %}</span>
                                    </div>
                                    <!-- Shipping Cost -->
                                    <div class="d-flex justify-content-between mb-2">
                                        <span class="text-muted">{% trans "Shipping:" %}</span>
                                        <span id='shipping_price'>0 {% trans "DZD" %}</span>
                                    </div>
                                    <!-- Total Amount -->
                                    <div class="d-flex justify-content-between mt-3 pt-3 border-top">
                                        <strong>{% trans "Total Amount:" %}</strong>
                                        <strong id='total_amount'>0 {% trans "DZD" %}</strong>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Shipping Section -->
                        <form class="card bg-light form"
                              method="post"
                              action="{% url 'frontend:save_shipping_details' %}">
                            {% csrf_token %}
                            <div class="card-body">
                                <h2 class="card-title text-teal">
                                    {% trans "Shipping Details" %}
                                </h2>
                                <div class="errorList">
                                </div>
                                <form action="#" method="post">
                                    <!-- Full Name -->
                                    <div class="mb-3">
                                        <label for="full-name" class="form-label">
                                            {% trans "Full Name:" %}
                                        </label>
                                        <input type="text"
                                               class="form-control"
                                               id="full-name"
                                               name="full-name"
                                               required />
                                    </div>
                                    <!-- Phone Number -->
                                    <div class="mb-3">
                                        <label for="phone" class="form-label">
                                            {% trans "Phone Number:" %}
                                        </label>
                                        <input type="tel"
                                               class="form-control"
                                               id="phone"
                                               name="phone"
                                               pattern="[0]{1}[5-7]{1}[0-9]{8}"
                                               placeholder="05XXXXXXXX"
                                               required />
                                    </div>
                                    <!-- wilaya -->
                                    <div class="mb-3">
                                        <label for="wilaya" class="form-label">
                                            {% trans "Wilaya:" %}
                                        </label>
                                        <select class="form-select" id="wilaya" name="wilaya" required>
                                            <option value="">
                                                {% trans "Select a wilaya" %}
                                            </option>
                                            {% for wilaya in wilayas %}
                                                <option value="{{ wilaya.code }}">
                                                    {{ wilaya|trans:'name' }}
                                                </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <!-- City -->
                                    <div class="mb-3">
                                        <label for="city" class="form-label">
                                            {% trans "City:" %}
                                        </label>
                                        <select class="form-control" id="city" name="city" required>
                                            <option value="">
                                                {% trans "Select a city" %}
                                            </option>
                                        </select>
                                    </div>
                                    <!-- Shipping Location -->
                                    <div class="mb-3">
                                        <label class="form-label">
                                            {% trans "Ship to:" %}
                                        </label>
                                        <div class="form-check">
                                            <input class="form-check-input"
                                                   type="radio"
                                                   name="shipping_location"
                                                   id="home"
                                                   value="home"
                                                   checked />
                                            <label class="form-check-label" for="home">
                                                {% trans "My Home" %}
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input"
                                                   type="radio"
                                                   name="shipping_location"
                                                   id="office"
                                                   value="office" />
                                            <label class="form-check-label" for="office">
                                                {% trans "Office" %}
                                            </label>
                                        </div>
                                    </div>
                                    <!-- Submit Button -->
                                    <div class="d-grid">
                                        <button type="submit" class="btn btn-teal btn-sm">
                                            {% trans "Save Order" %}
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>

    </div>
{% endblock content %}

{% block footer %}
{% endblock footer %}

{% block extra_js %}
    <script src="{% static 'js/cart_v1.js' %}?v={% now 'U' %}"></script>
{% endblock extra_js %}

{% block js %}
{% endblock js %}
